# Introduction to List Comprehensions
Â© Explore Data Science Academy

# Introduction 

Python's list comprehensions are the equivalent of [set builder notation](https://https://www.mathsisfun.com/sets/set-builder-notation.html), where a set is constructed using an expression describing what it should contain. For example, the expression:
# $$\{x^{2} \mid x \in  \mathbb{Z} , 0\leq x< 5 \}$$
refers to "the squares of the set of all integers $x$ , such that $x$ is greater than or equal to 0 and less then 5" which is the set [0,1,4,9,16].
List comprehensions are a compact way to create lists in python and can sometimes be more efficient (i.e. execute faster) than generic **for** loops in python. 

## Learning Objectives
In this train you will:
* Understand list comprehension syntax
* Explore different ways to apply list comprehensions.
* Implement your own list comprehensions.

## Overview
* List Comprehension Syntax
* List Comprehension Examples
* Exercises

## List Comprehension Syntax

List comprehensions are always returned as a list. The general syntax is as follows:

[ **return computation on this item** for **item** in **list** if item satisfies **condition** ] 

Note the whole list comprehension expression is in square brackets, which signifies a python list. Without the brackets, python would return a syntax error. Have a look at the example below:

In [0]:
nums = [1, 2, 3, 4, 5, 6]

[x**2 for x in nums if x%2==0]

[4, 16, 36]

Here's what's going on inside the brackets:

* x is the item in the list "nums"
* x is squared if it satisfies the condition- in this case it must be even

Let's see what happens if we leave the brackets out.

In [0]:
nums = [1, 2, 3, 4, 5, 6]

x**2 for x in nums if x%2==0

## List Comprehension Examples:
List comprehensions can make your code more readable and reduce the number of lines of code. It also allows for you to create a modified list in a more efficient way than using the `append( )` or `remove( )` methods multiple times. However, you should always take care and prioritise code readability.

### Example 1: Basic "for loop" to list comprehension

This is how you would code a normal for loop to return a list of all the characters in the string `name = 'explore'`.

In [0]:
name = 'explore'
character_list = [] #open up a new empty list
for character in name: #initiate a for loop to iterate over a string
    character_list.append(character) #append each character to the new list

print(character_list)

['e', 'x', 'p', 'l', 'o', 'r', 'e']

We can easily create the same list with one line of code using a list comprehension as follows:

In [0]:
name= 'explore'
character_list = [character for character in name]
print(character_list)

['e', 'x', 'p', 'l', 'o', 'r', 'e']

Here's a summary of what's going on:

*   The square brackets "[ ]" tells us that the output will be a list. 
* This list is saved into the the`character_list` variable
*   The expression `for character in name` is the for loop that will iterate over each character in the string.

In essence, we are returning a list (i.e. `character_list`) consisting of each `character` in the string `name`.

### Example 2: Conditional statements

For this exercise, we want to know how many times the letter 'e' appears in the sentence. We can do this by creating a list comprehension that will iterate over the string, comparing each list item to 'e', and adding it to the list if `item == 'e'` is True.

In [0]:
my_list = 'explore data science academy'
l = [item for item in my_list if item == 'e']
print(l)
print(f"The are {len(l)} e's in the string")

['e', 'e', 'e', 'e', 'e']
The are 5 e's in the string

Here, the list comprehension:

1. Loops over all characters in the list `my_list`.
2. Checks if a character `item` is equal to 'e'.
3. Adds this character `item` to the final list if the condition `item == 'e'` is true.

### Example 3: Applying functions to list items

We already know that if we need to change a string into all uppercase, we can use the method `.upper()`, but what happens if we want to do this to multiple strings in a list? The code below says that we want to return an upper case version of every item in `lowercase_list`

In [0]:
lowercase_list = ["explore", "jupyter", "academy", "python"]
uppercase_list = [item.upper() for item in lowercase_list] 

print(uppercase_list)

['EXPLORE', 'JUPYTER', 'ACADEMY', 'PYTHON']

In the above code block, we call the `.upper` function on each item in `lowercase_list`.

### Example 4: Iterating over 2 lists simultaneously

Say we have 2 lists and want to find the numbers that appear in both. We can pull this off using list comprehension as follows:

In [0]:
list_a = [1, 2, 3, 4, 6, 7, 9, 11]
list_b = [2, 3, 4, 5, 11]

intersection = [a for a in list_a for b in list_b if a == b]

print(intersection)

[2, 3, 4, 11]

What the list comprehenion is saying in simple terms is: "check every item `a` in `list_a` against every item `b` in `list_b` and add it to the list `intersection` if they are equal".
In this example, our list comprehension contains a "nested conditional for loop" expression.

### Example 5: If-else conditional statements
Suppose we wanted to classify characters in a string as either a vowel or a consonant. One way to achieve this using list comprehension is as follows:

In [7]:
my_string = 'explore'
vowels = 'aeiou'
labels = ['vowel' if char in vowels else 'consonant' for char in my_string]
print(labels)

['vowel', 'consonant', 'consonant', 'consonant', 'vowel', 'consonant', 'vowel']

The list comprehension above contains an if/else condition in addition to the for loop. The expression returns the string "vowel" for each character in "my_string" that is also contained in "vowels. If the character is not in vowels, the expression returns the string "consonant".

### Example 6: Element-wise addition

Say, we wanted to perform element-wise addition on two lists. Lucky for us, list comprehensions also allow the use of multiple iterables. Below we use elements from both lists simultaneously to compute a list containing the sum of elements at each index.

In [0]:
a = [1,2,3]
b = [4,5,6]

c = [i+j for i,j in zip(a,b)] #where i is an item in list a, and j is an item in list b

In [0]:
print(c)

[5, 7, 9]

The purpose of `zip()` is to map the indices of multiple lists to each other so that they can be used in the same way as using as single entity. Note that for this method to work, both lists must have the same length.

# Exercises

In the exercises that follow, rewrite the code using list comprehension by replacing the comment " *_#### Your code here ####_* " with your solution.

**Exercise 1**

In [10]:
input_list = [1, 2, 3, 4, 4, 5, 6, 7, 7] 
  
output_list = [] 
  
# Using loop for constructing output list 
for var in input_list: 
    if var % 2 == 0: 
        output_list.append(var)

In [11]:
output_list

[2, 4, 4, 6]

In [13]:
# write the above loop as a list comprehension named 'list_comp1'
output_list=[i for i in input_list if i%2==0 ]
output_list

[2, 4, 4, 6]

_**Expected Output**_ 
```python
list_comp1 == [2, 4, 4, 6]
```

**Exercise 2**

In [0]:
output_list = [] 
for var in range(1, 10): 
    output_list.append(var ** 2)

In [8]:
# write the above for loop as a list comprehension named 'list_comp2'
list_comp2 = [i**2 for i in range(1,10)]
list_comp2

[1, 4, 9, 16, 25, 36, 49, 64, 81]

_**Expected Output**_ 
```python
list_comp2 == [1, 4, 9, 16, 25, 36, 49, 64, 81]
```

# Conclusion
That's the end of this tutorial, by now you should be able to understand, implement, and recognise list comprehensions in python. Make sure to reinforce your knowledge by replacing your for loops with list comprehensions where possible.

In [2]:
import pandas as pd

In [3]:
# Create list of lists containing data
list_df = [[32, 'Portugal', 94], [30, 'Argentina', 93], [25 , 'Brazil', 92]]

# Create index - names of players
index = ['Christiano Ronaldo', 'Lionel Messi', 'Neymar']

# Create column names 
columns = ['Age', 'Nationality', 'Overall']

# Create dataframe by passing in data, index and columns
pd.DataFrame(data=list_df, index=index, columns=columns)

                    Age Nationality  Overall
Christiano Ronaldo   32    Portugal       94
Lionel Messi         30   Argentina       93
Neymar               25      Brazil       92